NODE_PATH=src/
REACT_APP_API_KEY=AIzaSyCnhoCaATFcdtjsb8mU_oAQQzHWxfW2NbM
REACT_APP_FIREBASE_KEY=AIzaSyCtKfb4UbEmk7QQkr23nBq1BaGpK1zVjKs
REACT_APP_AUTH_DOMAIN=routes-8f6ec.firebaseapp.com
REACT_APP_DB_URL=https://routes-8f6ec-default-rtdb.europe-west1.firebasedatabase.app
REACT_APP_PROJ_ID=routes-8f6ec
REACT_APP_STORAGE_BUCKET=routes-8f6ec.appspot.com
REACT_APP_MESS_SENDER_ID=147611270023
REACT_APP_ID=1:147611270023:web:7adf48c297b86fb88db122
REACT_APP_MEASUREMENT_ID=G-GK40M9MQN6