.routes {
  width: 50%;
  overflow: hidden;

  @media(max-width: 1100px){
    width: 100%;
  }
}

.input {
  margin-bottom: 10px;
  width: 100%;
}

.list {
  overflow-y: auto;
  height: calc(100vh - 146px);

  @media(max-width: 1100px){
    height: auto;
  }
}

.route {
  display: flex;
  gap: 15px;
  padding: 10px;
  cursor: pointer;
  transition: all ease 0.3s;

  &:hover,
  &.active {
    background-color: rgb(44, 171, 255);
    color: #fff;

    & * {
      color: #fff;
    }
  }
}

.icon {
  font-size: 30px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #333;
}

.cardMap{
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.arr{
  color: #333;
}