.content {
  display: flex;
  gap: 20px;
  padding: 20px;
}

.diviner {
  min-height: 100%;
  width: 1px;
  background-color: rgb(177, 177, 177);
}

.modal {
  display: flex;
  gap: 20px;
}

.ant-modal-content {
  width: 100%;
}

.ant-modal-body{
  display: flex;
  gap: 20px;
}

.ant-card{
  &.ant-card-bordered{
    height: calc(100vh - 104px);
    overflow-y: auto;
  }
}